.summaryset_div{
    margin-top: 25%;
}
*{margin: 0px;}

.smr_summarySet{
    text-align: center;
    margin: 11px 10px;
    background: rgb(239 239 239 / 75%);
    border-radius: 6px;
    padding: 6px 18px 13px 18px;
    width: 40%;
    display: inline-block;
}

@media ( max-width: 700px ) {
    .smr_summarySet { 
        width: 90%; 
    }
}
.smr_summary{
    display: inline-block;
    width: 90%;
}

.smr_editInput{
    width: 100%;
    height: 100%;
    border: none;
    background: rgb(255 255 255 / 0%);
    text-align: center;
    display: none;
    resize:none;
}

.smr_editButton{
    width: 15px;
    height: 15px;
    background: blue;
    /* display: inline-block; */
    float: right;
    margin-right: 5px;
    border-radius: 15px;
}

.smr_addSummaryButton{
    width: 15px;
    height: 15px;
    background: red;
    /* display: inline-block; */
    float: right;
    border-radius: 15px;
}



.font_sans{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

.font_serif{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
}